@import url('reset.css');

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/mnpfi9pxYH-Go5UiibESIrO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/1pO9eUAp8pSF8VnRTP3xnnYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v3/y7lebkjgREBJK96VQi37ZrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v3/dazS1PrQQuCxC3iOAJFEJRbnBKKEOwRKgsHDreGcocg.woff) format('woff');
}

body {
	background-color: #f0f0f0;
	font-family: 'Roboto', sans-serif;	/* loaded google fonts */
}

/* for auto-centering in web page. maybe not necessary for app */

.wrap {
	width: 600px;
	margin: 0 auto;
}
.container {
	width: 100%;
	background-color: white;
	float: left;
}


/* TOP LEVEL ELEMENTS */
/* note: banner is set up position-relative so we can do position-absolute in nested elements with local origin, not page origin */
/* note: float left is to force divs to stretch height to contain contents */

#banner, #info {
	position: relative;
	float: left;
	width: 600px;
}
#banner {
	height: 300px;
	background-image: url('../img/bg5.png');
}

/* OVERLAY ELEMENTS IN BANNER */
#banner-summary {
	position: absolute;
	top: 30px;
	left: 180px;
}
#banner-summary h2 {
	font-size:2em;
	line-height: 2em;
	margin-bottom: 0em;
	font-weight: bold;
}
#banner-summary p {
	line-height: 1.5em;
}

/* TABLE ELEMENTS IN INFO SECTION */
/* 600px wide */

#info {
	overflow:hidden;
	background-color:black;
}
.now, .remaining,
.divider,
.next, .nextnext {
	float: left;
}

/* column widths should add up to 600px */

#info .remaining table,
#info .next table,
#info .nextnext table {
	margin: 4px;
	width: 122px; /* 132 - 8 (margin) - 2 (divider) */
}
#info .now table {
	margin: 4px;
	width: 194px;	/* 204 - 8 (margin) - 2 (divider) */
}
.divider {
	/* color is set as background color in #info */
	width: 6px;
}


/* TABLE TYPOGRAPHY */
/* base font is set in body tag */

#info th {
	font-family: 'Roboto Slab', serif;
	text-align: left;
	padding: 0 0 0.25em 0;
}

.displayLg {
	font-size: 4em;
	padding: 0.1em 0;
	font-weight: bold;
}
.displaySm {
	font-size: 1.5em;
	padding: 0.1em 0;
}
.displaySock {
	text-align: right;
}
.displayLegend {
	text-transform: uppercase;
}
.num {
	text-align:right;
}

/* IMAGES: sock.png files are set to 18px wide here */

.mainRow td {
	padding: 0.5em 0;
}
.mainRow img {
	width: 18px;
}



/* TABLE COLOR OVERRIDES BY COLUMN */

.now {
	background-color: #77421b;
	color: #d5772e;
}
.now th {
	color: #f68b1f;
	font-weight: normal;
}
.now .mainRow {
	border-top: 2px solid #aa5f25;;
	border-bottom: 2px solid #aa5f25;
}
.now .displayLg,
.now .displaySm {
	color: #f68b1f;
}



.remaining {
	background-color: #4d2811;
	color: #b16328;
}
.remaining th {
	color: #f68b1f;
	font-weight: normal;
}
.remaining .displayLg,
.remaining .displaySm {
	color: #f68b1f;
}
.remaining .mainRow {
	border-top: 2px solid #77421b;
	border-bottom: 2px solid #77421b;
}



.next {
	background-color: #404041;
	color: #818285;
}
.next th {
	color: #d1d2d4;
}
.next .displayLg,
.next .displaySm {
	color: #a7a9ac;
}
.next .mainRow {
	border-top: 2px solid #626364;
	border-bottom: 2px solid #626364;
}



.nextnext {
	background-color: #2f3030;
	color: #818285;
}
.nextnext th {
	color: #d1d2d4;
}
.nextnext .displayLg,
.nextnext .displaySm {
	color: #a7a9ac;
}
.nextnext .mainRow {
	border-top: 2px solid #575859;
	border-bottom: 2px solid #575859;
}